$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '../webfonts';

//body
$body-margin: 0 0 9.0rem;
$body-font-family: 'Open Sans', sans-serif;

//navigation
$navbar-border-bottom: #e1e8ed solid 1px;

//card
$card-margin: 1rem 0;
$card-margin-bottom: 0.25rem;
$card-border: #e1e8ed solid 1px;

//danger
$danger-border: #dc3545;
$danger-background: rgba(255, 240, 245, .7);

//form
$form-border: #e1e8ed solid 1px;

//footer
$footer-padding: .5rem 1rem;
$footer-border-top: 0.0075em solid #ddd6d6;
$footer-background-color: #ebebeb;


