<h4>{{ tabTitle }}</h4>
<p class="card-text">
  On Wednesday, 10 October 2018, Centuria Property Funds Limited as responsible entity of Centuria Metropolitan REIT (<strong>CMA</strong>) announced its intention to raise approximately AU$197 million through an underwritten 1 for 3 accelerated non-renounceable entitlement offer (<strong>Entitlement Offer</strong>) of new ordinary units in CMA(<strong>New Units</strong>) at an offer price of AU$2.43 (<strong>Offer Price</strong>) per New Unit.<br><br>

	Eligible unitholders are being offered the opportunity to purchase New Units under the retail entitlement offer (<strong>Retail Entitlement Offer</strong>). You have a number of decisions to make in respect of your Entitlement. These decisions may materially affect the value (if any) that may be received in respect of your Entitlement.<br><br>

  The Retail Offer Booklet contains important information about the Retail Entitlement Offer and you are encouraged to read it carefully before deciding whether or not to participate in it. The Retail Offer Booklet is available for download on the Announcements section of this page. Alternatively, a copy will be despatched to you along with your personalised Entitlement and Acceptance Form on or about Tuesday, 16 October 2018.<br><br>

  From Tuesday, 16 October 2018, you can view details of your Entitlement and submit an Application to take up all or part of your Entitlement, at this site by using your <strong>HIN / SRN</strong> and your <strong>Family / Business name</strong>, which can be found on your Statement of Holding.<br><br>

  If you have any questions about the Retail Entitlement Offer please call the Centuria Metropolitan REIT Investor Relations Line on 1800 182 257 (within Australia) or +61 2 9290 9689 (outside Australia) between 9.00am to 5.00pm (Sydney time) Monday to Friday during the Retail Entitlement Offer period, or consult your financial adviser or other professional adviser.<br><br>
</p>
