<p></p>
<h4>{{ tabTitle }}</h4>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Announcement of the Retail Entitlement Offer</td>
      <td>Wednesday, 10 October 2018</td>
    </tr>
    <tr>
      <td>Record Date for eligibility for the Entitlement Offer (7.00pm, Sydney time)</td>
      <td>Friday, 12 October 2018</td>
    </tr>
    <tr>
      <td>Complete despatch of Retail Offer Booklet and Entitlement and Acceptance Form</td>
      <td>Tuesday, 16 October 2018</td>
    </tr>
    <tr>
      <td>Retail Entitlement Offer opens (9.00am, Sydney time)</td>
      <td>Tuesday, 16 October 2018</td>
    </tr>
    <tr>
      <td>Early retail offer acceptance due date (5.00pm, Sydney time)</td>
      <td>Monday, 22 October 2018</td>
    </tr>
    <tr>
      <td>Settlement of units issued under Retail Entitlement Offer for applications received by the early retail acceptance due date</td>
      <td>Wednesday, 24 October 2018</td>
    </tr>
    <tr>
      <td>Retail Entitlement Offer closes (5.00pm, Sydney time)</td>
      <td>Monday, 29 October 2018</td>
    </tr>
    <tr>
      <td>Settlement of remaining new units issued under the Retail Entitlement Offer</td>
      <td>Friday, 2 November 2018</td>
    </tr>
    <tr>
      <td>Issue of new units in CMA under the Retail Entitlement Offer</td>
      <td>Monday, 5 November 2018</td>
    </tr>
    <tr>
      <td>New Units in CMA under the Retail Entitlement Offer commence trading on ASX on a normal settlement basis</td>
      <td>Tuesday, 6 November 2018</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
