<p></p>
<h4>{{ tabTitle }}</h4>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Date</th>      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Announcement of the Retail Entitlement Offer</td>
      <td>Wednesday, 10 October 2018</td>      
    </tr>
    <tr>      
      <td>Record Date for eligibility for the Entitlement Offer (7.00pm, Sydney time)</td>
      <td>Friday, 12 October 2018</td>
    </tr>
    <tr>      
      <td>Complete dispatch of Retail Offer Booklet and Entitlement and Acceptance Form</td>
      <td>Monday, 15 October 2018</td>
    </tr>
    <tr>      
      <td>Retail Entitlement Offer opens</td>
      <td>Tuesday, 16 October 2018</td>
    </tr>
    <tr>
      <td>Retail Entitlement Offer closes (5.00pm, Sydney time)</td>
      <td>Monday, 29 October 2018</td>      
    </tr>
    <tr>      
      <td>Settlement of Retail Entitlement Offer</td>
      <td>Friday, 2 November 2018</td>
    </tr>
    <tr>      
      <td>Issue of new CMA Shares under the Retail Entitlement Offer</td>
      <td>Monday, 5 November 2018</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>