<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ pageTitle }}</h5>
        </div>
        <div class="card-body">
          <div class="border-danger">
            <p class="card-text">
              Due to legal restrictions, access to these webpages is only intended for access by persons within Australia and New Zealand. These webpages do not constitute an offer of securities in any place in which, or to any person to whom, it would not be lawful to make such an offer.
            </p>
          </div>
          <hr>
          <div class="flex-row">
            <div class="p-2 float-sm-left">
              <a class="btn btn-primary" href="mailto:enquiries@boardroomlimited.com.au">
                <i class="fas fa-at"></i> Email CMA
              </a>
            </div>
            <div class="p-2 float-sm-right">
              <button type="button" class="btn btn-primary" (click)="onBack()">
                  <i class="fas fa-arrow-alt-circle-left"></i> Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
