<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ pageTitle }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Due to legal restrictions, access to these webpages is only intended for access by persons within Australia and New Zealand. These webpages do not constitute an offer of securities in any place in which, or to any person to whom, it would not be lawful to make such an offer.
          </p>
          <button type="button" class="btn btn-primary" (click)="onBack()">
            Back <i class="fas fa-arrow-alt-circle-left"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
