<h4>{{ tabTitle }}</h4>
<div class="card-text">
  <h6 class="font-weight-bold m"><i class="fas fa-phone-volume"></i>&nbsp;Phone</h6>
  <p class="font-weight-normal p">
    Within Australia: 1800 182 257<br>
    Outside Australia: +612 9290 9689
  </p>
  <h6 class="font-weight-bold m"><i class="fas fa-at"></i>&nbsp;Email</h6>
  <p class="font-weight-normal p">
    <a href="mailto:corporateactions@boardroomlimited.com.au">corporateactions@boardroomlimited.com.au</a>
  </p>
  <h6 class="font-weight-bold m"><i class="fas fa-fax"></i>&nbsp;Fax</h6>
  <p class="font-weight-normal p">
    Within Australia: 1300 653 459<br>
    Outside Australia: +612 9279 0664
  </p>
  <h6 class="font-weight-bold m"><i class="fas fa-envelope"></i>&nbsp;Mail</h6>
  <p class="font-weight-normal p">
    Boardroom Pty Limited<br>
    GPO Box 3993<br>
    Sydney NSW 2001<br>
    Australia
  </p>
</div>
