<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ pageTitle }}</h5>
        </div>
        <div class="card-body">
          <div class="alert alert-success" role="alert">
            <p class="card-text">
              This is to notify that you have been successfully registered for CMA.  Click the button below to return to the home page.
            </p>
          </div>
          <hr>
          <button type="button" class="btn btn-primary" (click)="onReturn()">
            <i class="fas fa-arrow-alt-circle-left"></i>&nbsp;Return
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
