<p></p>
<h4>{{ tabTitle }}</h4>
<div class="card-text">
  <h6 class="font-weight-bold">Phone</h6>
  <span class="font-weight-normal">
    Within Australia: 1800 182 257<br>
    Outside Australia: +612 9290 9689
  </span>
  <h6 class="font-weight-bold">Email</h6>
  <span class="font-weight-normal">
    <a href="mailto:corporateactions@boardroomlimited.com.au">corporateactions@boardroomlimited.com.au</a>
  </span>
  <h6 class="font-weight-bold">Fax</h6>
  <span class="font-weight-normal">
    Within Australia: 1300 653 459<br>
    Outside Australia: +612 9279 0664
  </span> 
  <h6 class="font-weight-bold">Mail</h6>
  <span class="font-weight-normal">
    Boardroom Pty Limited<br>
    GPO Box 3891<br>
    Sydney NSW 2001<br>
    Australia
  </span>
</div>