<p></p>
<h4>{{ tabTitle }}</h4>
<div class="card-text">
  <h6 class="font-weight-bold m">Phone</h6>
  <p class="font-weight-normal p">
    Within Australia: 1800 182 257<br>
    Outside Australia: +612 9290 9689
  </p>
  <h6 class="font-weight-bold m">Email</h6>
  <p class="font-weight-normal p">
    <a href="mailto:corporateactions@boardroomlimited.com.au">corporateactions@boardroomlimited.com.au</a>
  </p>
  <h6 class="font-weight-bold m">Fax</h6>
  <p class="font-weight-normal p">
    Within Australia: 1300 653 459<br>
    Outside Australia: +612 9279 0664
  </p>
  <h6 class="font-weight-bold m">Mail</h6>
  <p class="font-weight-normal p">
    Boardroom Pty Limited<br>
    GPO Box 3993<br>
    Sydney NSW 2001<br>
    Australia
  </p>
</div>
