<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ pageTitle }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            CMA is Australia's larget ASX listed metropolitan office REIT and is included in the S&P/ASX300 Index. CMA owns a portfolio of 21 high quality metropolitan office assets and two industrial assets with a portfolio value of around $1.6 billion. The properties are located in core metropolitan submarkets throughout Australia.<br><br> This Retail Entitlement Offer is being made to CMA Unitholders whose registered address is in Australia or New Zealand and who are otherwise Eligible Retail Unitholders.
          </p>
          <form [formGroup]="countryform" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group" [ngClass]="{
              'has-success': country.valid && (country.dirty || country.touched),
              'has-danger': country.invalid && (country.dirty || country.touched)}">
              <label for="country">
                <h5 class="card-title">{{ cardLabel }}</h5>
              </label>
              <select class="form-control" id="" aria-describedby="textHelp" placeholder="Choose your country of residence" formControlName="country">
                <option value="">Choose your country of residence</option>
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
              <div class="form-control-feedback" *ngIf="country.errors && (country.dirty || country.touched)">
                <!-- <p *ngIf="country.errors.required">Country is required</p> -->
              </div>
            </div>
            <button type="submit" class="btn btn-primary">
              Submit <i class="fas fa-share-square"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
