<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/" title="Centuria Metropolitan REIT">
      <span class="navbar-brand mb-0 h1">
        <img src="./assets/images/CNTM.png" alt="Centuria Metropolitan REIT (ASX: CMA)" title="Centuria Metropolitan REIT"/>
      </span>
    </a>
    <p class="font-weight-light p-1">
      <small>Offer Information Line<br>
      T: 1800 182 157 (within Australia)<br>
      T: +61 2 9290 9689 (outside Australia) </small>
    </p>
  </div>
</nav>
