<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ pageTitle }}</h5>
        </div>
        <div class="card-body">
          <div class="alert alert-light border" role="alert">
            <h5 class="card-title">Details as in the registry</h5>
            <div class="card-text">
              <!--<div class="flex-row">
                <div class="p-2 float-sm-left">
                  <span class="font-weight-bold">Holder Details:</span>
                </div>
                <div *ngFor="let investor of investors" class="p-2 float-sm-right" >
                  {{ investor?.Address1 }}<br>
                  {{ investor?.Address2 }}<br>
                  {{ investor?.Address3 }}<br>
                  {{ investor?.Address4 }}<br>
                  {{ investor?.Address5 }}<br>
                  {{ investor?.Address6 }}
                </div>
              </div>-->
              <div class="media">
                <div class="col-sm">
                  <span class="font-weight-bold">HIN/SRN:</span>
                </div>
                <div *ngFor="let investor of investors" class="media-body">
                  <div class="col-sm">
                    {{ investor?.investorId }}
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="col-sm">
                  <span class="font-weight-bold">Holder Details:</span>
                </div>
                <div *ngFor="let investor of investors" class="media-body">
                  <div class="col-sm">
                    {{ investor?.Address1 }}<br>
                    {{ investor?.Address2 }}<br>
                    {{ investor?.Address3 }}<br>
                    {{ investor?.Address4 }}<br>
                    {{ investor?.Address5 }}<br>
                    {{ investor?.Address6 }}
                  </div>
                </div>
              </div>

              <!--<div class="flex-row">
                  <div class="p-2 float-sm-left">
                    <span class="font-weight-bold">Entitlement to New Units:</span>
                  </div>
                  <div *ngFor="let investor of investors" class="p-2 float-sm-right" >
                    {{ investor?.AvailableShares }}
                  </div>
              </div>
              <div class="clearfix"></div>-->

              <div class="media">
                <div class="col-sm">
                  <span class="font-weight-bold">Entitlement to New Units:</span>
                </div>
                <div *ngFor="let investor of investors" class="media-body">
                  <div class="col-sm">
                    {{ investor?.AvailableShares }}
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="alert alert-primary" role="alert">
            If you have any questions about the Retail Entitlement Offer, you should consult your stockbroker, solicitor, accountant or other professional adviser. You can also contact the Centuria Metropolitan REIT Investor Relations Line on  1800 182 257 (within Australia) or +612 9290 2689 (outside Australia) at any time from 9.00am to 5.00pm (Sydney time) Monday to Friday, during the the period of the Retail Entitlement Offer.
          </div>
          <hr>
          <div class="flex-row">
            <div class="p-2 float-sm-left">
              <button type="button" class="btn btn-primary" [routerLink]="['/']">
                Exit <i class="fas fa-times-circle"></i>
              </button>
            </div>
            <div class="p-2 float-sm-right">
              <button type="submit" class="btn btn-primary" (click)="onAgree()">
                Agree&nbsp;<i class="fas fa-share-square"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
