<h4>{{ tabTitle }}</h4>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Document</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="../../../assets/pdf/Investor-Presentation.pdf" target="_blank">Investor Presentation</a></td>
      <td>Wednesday, 10 October 2018</td>
    </tr>
    <tr>
      <td><a href="../../../assets/pdf/CMA_Completion_of_placement_and_institutional_entitlement_offer.pdf" target="_blank">Completion of placement and Institutional entitlement offer</a></td>
      <td>Friday, 11 October 2018</td>
    </tr>
    <tr>
      <td><a href="../../../assets/pdf/Offer-Terms.pdf" target="_blank">Retail Entitlement Offer Booklet</a></td>
      <td>Monday, 12 October 2018</td>
    </tr>
    <tr>
      <td><a href="../../../assets/pdf/CMA_Strategic_Acquisitions_and_Equity_Raise.pdf" target="_blank">Strategic Acquisitions and Equity Raising</a></td>
      <td>Monday, 10 October 2018</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
